CherryPy==3.6.0
Pillow==2.4.0
SPARQLWrapper==1.6.4
Wand==0.3.7
chardet==2.2.1
filemagic==1.6
isodate==0.5.1
pgmagick==0.5.7
psycopg2==2.5.4
pyparsing==2.0.3
rdflib==4.1.2
requests==2.5.1
requests-toolbelt==0.2.0
suds-jurko==0.6
virtualenv==1.11.6
xmltodict==0.9.0
